body {
	background: rgb(0, 33, 70);
}

img {
	width: 800px;
	border: 7px solid #fff;

}

div {
	text-align: center;
}

h1 {
	color: white;
  	font-family: 'Alex Brush', cursive;
 	text-align: center;
 	font-size: 114px;
 	margin-bottom: 0px;
 }